.panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding-block: 64px;
  padding-inline-start: 12px;
}

.wrapper {
  height: calc(100% - 64px - 64px);
  border: 1px solid rgb(48, 48, 48);
  background-color: #1e1e1e;
  border-radius: 8px;
}

.list {
  width: 230px;
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  background-color: rgb(48, 48, 48);
  border-radius: 8px;
  & img {
    user-select: none;
    pointer-events: none;
  }
  & span {
    font-family: cursive;
    color: lightgray;
    font-size: 14px;
  }
}
