body {
  margin: 0;
  background: black;
}

#root {
  overflow: hidden;
}

.viewer {
  box-sizing: border-box;
  width: 480px;
  height: 600px;
  margin: 50px auto;
  padding: 32px;
  background-color: rgba(15, 23, 42, 0.7);
  box-shadow: inset 0 0 20px rgba(0, 170, 255, 0.1);
  border: 1px solid rgba(59, 130, 246, 0.3);
  border-radius: 12px;
}
